<html>
<head>
{{>partials/header}}
</head>

<body class="container-fluid mt-3 bg-light">
<h1 class="text-center">{{title}}</h1>
<div class="d-flex flex-column align-items-center justify-content-center p-3">
        <div class="bg-white rounded m-3 py-9 w-50">
            <div class="p-3 m-3row">
                <p>At our Dance Organisation, we’re passionate about building community through movement. Based in the heart of the city, we offer dynamic dance classes and courses five days a week, catering to all levels—from absolute beginners to seasoned performers. Our talented instructors bring energy, experience, and a love for dance to every session, whether it's hip-hop, salsa, contemporary, or ballet. More than just a studio, we're a creative hub where people of all ages come together to express themselves, stay active, and connect through rhythm and motion.
            </div>
        </div>
        <h1 text-center>Our Locations</h1>
        <div class="bg-white rounded m-3 py-9 w-50">
            <div class="p-3 m-3row">
                <ul class="list-group">
                <li class="list-group-item">Johnstone</li>
                <li class="list-group-item">Paisley</li>
                <li class="list-group-item">Glasgow</li>
</ul>
            </div>
        </div>
</div>
</div>




</html>