<html>
<head>
{{>partials/header}}
</head>
<body container-fluid bg-light>
<div>


  <div class="container text-center mt-5">
    <h1 class="mb-4">Welcome to Dance </h1>
    <p class="mb-4">Explore our courses and classes.</p>
    <div class="d-flex justify-content-center gap-3">
      <a href="/courses" class="btn btn-primary btn-lg">Courses</a>
      <a href="/dashboard" class="btn btn-primary btn-lg">Dashboard</a>
       <a href="/register" class="btn btn-primary btn-lg">Register</a>
      <a href="/login" class="btn btn-primary btn-lg">Login</a>
      <a href="logout" class="btn btn-primary btn-lg">Logout</a>
      <a href="/about" class="btn btn-primary btn-lg">About</a>
    </div>
  </div>
</div>





</body>
</html>