<html>
<head>
{{>partials/header}}
</head>

<body class="container-fluid bg-light mt-4">
<div class="container">
        <h1 class="mb-5 text-center fw-light">{{title}}</h1>

        {{#class}}
        <div class="card mb-4 shadow-sm ">
            <div class="card-body">
            <div class="d-flex">
                <div class="m-1">
                    <h3 class="card-title fw-semibold mb-3">{{name}}</h3>
                </div>
            </div>
                <div class="d-flex ">
                    <a href="/dashboard/course/{{courseid}}/manageclass/{{_id}}/removeclass" class="btn btn-outline-danger btn-sm">Remove Class</a>
                    <a href="/dashboard/course/{{courseid}}/manageclass/{{_id}}/updateclass" class="btn btn-outline-danger btn-sm">Update Class</a>
                    <a href="/dashboard/course/{{courseid}}/manageclass/{{_id}}/showparticipants" class="btn btn-outline-danger btn-sm"> Show Class Particpants</a>

                    
                </div>
            </div>
        </div>
        {{/class}}

         {{#course}}
        <div>
            <a href="/dashboard/course/{{_id}}/manageclass/addclass"class="btn btn-primary">Add Class</a>
        </div>
    {{/course}}

    </div>
<div>

    {{^class}}
        <div class="alert alert-info mt-3">
            No classes .
        </div>
    {{/class}}
</div>
</body>
</html>
